MarkupSafe==0.23
Pillow==3.2.0
PyXML==0.8.4
babel==0.9.6
feedparser==5.1.1
gdata==2.0.16
lxml==2.3.3
mako==0.6.2
psycopg2==2.4.4
pychart==1.39
pydot==1.0.28
pyparsing==1.5.6
python-dateutil==2.4.0
python-ldap==2.4.9
python-openid==2.2.5
pytz==2012b
pywebdav==0.9.4.1
pyyaml==3.10
reportlab==2.5
simplejson==2.4.0
vatnumber==1.0
vobject==0.8.1c
werkzeug==0.8.3
xlwt==0.7.3
vmw.ZSI==2.1-a1
unidecode==0.04.13
Genshi==0.6
odfpy==0.9.6
email-validator==1.0.4
git+https://github.com/OCA/openupgradelib.git@master
git+https://github.com/aeroo/aeroolib.git@py2.x
# for maintainer-tools
appdirs
autopep8
click
configparser
docutils>=0.15.1,<0.15.1.1
ERPpeek
github3.py>=1
inflection
polib
pygments
twine
wheel
#localization
PyXB==1.2.5
unicodecsv
codicefiscale
asn1crypto
geojson
shapely
googlemaps
zpl2
setuptools-odoo
num2words
pycups
phonenumbers==8.10.2
